.creative {
	height: 100vh;
	min-width: 100vw;

	.row {
		height: 100%;
		min-width: 100vw;

		.header-col {
			display: flex;
			justify-content: center;

			.header-box {
				padding-top: 14rem;

				.subheading-box {
					display: flex;
					flex-direction: row;

					.line {
						border-top: 4px solid white;
						width: 30px;
						margin-right: 2rem;
						align-self: center;
					}
				}
			}
		}

		.col-content {
			padding-right: 4rem;

			.row {
				min-width: 100%;

				.col {
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding-bottom: 10rem;
				}

				.icon {
					display: flex;
					text-decoration: none;
					padding-top: 1rem;
					align-items: flex-end;
					color: grey !important;

					img {
						margin-right: 0.4rem;
						width: 22px;
						height: 22px;
					}
				}

				.icon:hover {
					img {
						transform: scale(1.1);
					}
				}

				.ig {
					border-radius: 10px;
					height: 60%;
					display: flex;
					align-items: flex-end;
					padding: 1rem;
					background: linear-gradient(to top, rgba(8, 8, 8), rgb(8, 8, 8, 0.1)), url("../assets/images/ig.jpg");
					background-size: cover;
					background-repeat: no-repeat;
				}

				.dev-ig {
					border-radius: 10px;
					height: 60%;
					display: flex;
					align-items: flex-end;
					padding: 1rem;
					background: linear-gradient(to top, rgba(8, 8, 8), rgb(8, 8, 8, 0.1)), url("../assets/images/dev_ig.jpg");
					background-size: cover;
					background-repeat: no-repeat;
				}

				.youtube {
					border-radius: 10px;
					height: 60%;
					display: flex;
					align-items: flex-end;
					padding: 1rem;
					background: linear-gradient(to top, rgba(8, 8, 8), rgb(8, 8, 8, 0.1)), url("../assets/images/rs_1.jpg");
					background-size: cover;
					background-repeat: no-repeat;
				}
			}

		}
	}
}