.container {
	height: 100vh;

	.row {
		height: 100%;

		h1 {
			text-align: center;
			margin-top: 14rem;
		}

		.curve {
			// background-color: green;
			width: 100px;
			height: 300px;
			border: solid 1px white;
			border-color: transparent white transparent transparent;
			border-radius: 0 50% 50% 0/0 60% 60% 0;
		}

		.col-content {
			display: flex;
			margin: auto;
		}

		.labels {
			margin: auto 2rem;

			p:hover {
				transform: scale(1.1);
			}
		}
	}
}
