.links-bar {
	position: absolute;
	bottom: 3rem;
	right: 1.1rem;
	display: flex;
	flex-direction: column;

	// to counter the gradient in tech
	z-index: 100;

	a:first-child {
		margin-bottom: 0.8rem;
	}

	img {
		width: 22px;
		height: 22px;
	}

	img:hover {
		transform: scale(1.1);
	}
}