/* [next]/internal/font/google/geist_e531dabc.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwYGFWNOITddY4-s.b7d310ad.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_e531dabc-module__QGiZLq__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

.geist_e531dabc-module__QGiZLq__variable {
  --font-geist-sans: "Geist", "Geist Fallback";
}


/* [next]/internal/font/google/geist_mono_68a01160.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrMdmhHkjkotbA-s.cb6bbcb1.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_68a01160-module__YLcDdW__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

.geist_mono_68a01160-module__YLcDdW__variable {
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}


/* [project]/src/components/NavBar/index.module.scss.module.css [app-client] (css) */
.index-module-scss-module__5LcKSW__nav-wrapper {
  z-index: 100;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  position: absolute;
  bottom: 0;
}

.index-module-scss-module__5LcKSW__nav-wrapper nav {
  text-align: center;
  width: fit-content;
}

.index-module-scss-module__5LcKSW__nav-wrapper nav a {
  letter-spacing: 0;
  margin: 0 1rem;
  font-weight: 400;
  text-decoration: none;
}

.index-module-scss-module__5LcKSW__nav-wrapper nav .index-module-scss-module__5LcKSW__active {
  color: #57e5ec !important;
}

.index-module-scss-module__5LcKSW__nav-wrapper nav a:hover {
  cursor: pointer;
  color: #fff;
}

.index-module-scss-module__5LcKSW__nav-wrapper nav a:hover.index-module-scss-module__5LcKSW__active {
  color: #57e5ec !important;
}

.index-module-scss-module__5LcKSW__nav-wrapper nav .index-module-scss-module__5LcKSW__underline {
  background-color: #57e5ec;
  width: 2.5rem;
  height: 1px;
  margin: .625rem 1rem 0;
  position: relative;
  left: 0;
}

@media only screen and (width <= 768px) {
  .index-module-scss-module__5LcKSW__nav-wrapper {
    background-color: #000000e6;
    margin-bottom: 0;
    padding: 1rem 0;
  }
}


/* [project]/src/components/LinksBar/index.module.scss.module.css [app-client] (css) */
.index-module-scss-module__35qL-q__links-bar {
  z-index: 100;
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.index-module-scss-module__35qL-q__links-bar a:first-child {
  margin-right: .8rem;
}

.index-module-scss-module__35qL-q__links-bar a:hover {
  transform: scale(1.1);
}

@media only screen and (width <= 768px) {
  .index-module-scss-module__35qL-q__links-bar {
    bottom: 1.8rem;
    left: 2rem;
  }
}

@media only screen and (width <= 415px) {
  .index-module-scss-module__35qL-q__links-bar {
    display: none;
  }
}


/* [project]/src/app/Creative/index.scss.css [app-client] (css) */
.creative {
  min-width: 100vw;
  height: 100vh;
}

.creative .row {
  min-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.creative .row .header-col {
  justify-content: center;
  display: flex;
}

.creative .row .header-col .header-box {
  padding-top: 14rem;
}

.creative .row .header-col .header-box .subheading-box {
  flex-direction: row;
  display: flex;
}

.creative .row .header-col .header-box .subheading-box .line {
  border-top: 4px solid #fff;
  align-self: center;
  width: 30px;
  margin-right: 2rem;
}

@media only screen and (width <= 768px) {
  .creative .row .header-col .header-box {
    margin-bottom: 4rem;
    padding: 2rem 2.5rem 0;
  }

  .creative .row .header-col {
    justify-content: start;
  }
}

.creative .row .col-content {
  padding-right: 3rem;
}

.creative .row .col-content .row {
  min-width: 100%;
}

.creative .row .col-content .row .col-12, .creative .row .col-content .row .col-md-4 {
  flex-direction: column;
  justify-content: center;
  height: 80%;
  display: flex;
}

@media only screen and (width <= 768px) {
  .creative .row .col-content .row .col-12 {
    height: 50%;
    margin-bottom: 5rem;
    padding-bottom: 0;
  }
}

.creative .row .col-content .row .icon {
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 1rem;
  text-decoration: none;
  display: flex;
  color: #ffffff80 !important;
}

.creative .row .col-content .row .icon .img {
  margin: auto .4rem auto 0;
}

.creative .row .col-content .row .icon:hover .img {
  transform: scale(1.1);
}

.creative .row .col-content .row .ig {
  background-color: #0000;
  background-image: linear-gradient(to top, #080808, #08080833), url("../media/ig.04c70d51.jpg");
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 10px;
  align-items: flex-end;
  height: 65%;
  padding: 1rem 1rem 0;
  display: flex;
}

.creative .row .col-content .row .dev-ig {
  background-color: #0000;
  background-image: linear-gradient(to top, #080808, #08080833), url("../media/dev_ig.4a9b39ae.jpg");
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 10px;
  align-items: flex-end;
  height: 65%;
  padding: 1rem 1rem 0;
  display: flex;
}

.creative .row .col-content .row .youtube {
  background-color: #0000;
  background-image: linear-gradient(to top, #080808, #08080833), url("../media/rs_1.902cdc1f.jpg");
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 10px;
  align-items: flex-end;
  height: 65%;
  padding: 1rem 1rem 0;
  display: flex;
}

@media only screen and (width <= 768px) {
  .creative .row .col-content .row .ig, .creative .row .col-content .row .dev-ig, .creative .row .col-content .row .youtube {
    min-height: 100%;
  }

  .creative .row .col-content {
    padding: 0 3rem;
    padding-bottom: 40rem !important;
  }

  .creative {
    overflow: hidden scroll;
  }
}


/* [project]/src/app/Home/index.scss.css [app-client] (css) */
.home {
  min-width: 100vw;
  height: 100vh;
}

.home .row {
  min-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home .row .header-col {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.home .row .header-col .header-box {
  padding-top: 14rem;
}

.home .row .header-col .header-box .subheading-box {
  flex-direction: row;
  display: flex;
}

.home .row .header-col .header-box .subheading-box .line {
  border-top: 4px solid #fff;
  align-self: center;
  width: 30px;
  margin-right: 2rem;
}

@media only screen and (width <= 768px) {
  .home .row .header-col .header-box {
    margin-bottom: 2rem;
    padding: 2rem 2.5rem 0;
  }

  .home .row .header-col {
    justify-content: start;
  }
}

.home .row .col-content {
  opacity: 0;
  background-image: url("../media/jadon.0ab68d04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.home .row .col-content .overlay {
  background-color: #08080866;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.home .row .col-content .overlay p {
  text-shadow: 1px 1px 2px #08080833, 0 0 25px #08080833, 0 0 5px #08080833;
  font-size: 25px;
}

.home .row .col-content .overlay p:hover {
  cursor: default;
  transform: scale(1.1);
}

@media only screen and (width <= 768px) {
  .home .row .col-content {
    height: 100%;
  }

  .home {
    overflow: hidden scroll;
  }
}


/* [project]/src/app/global.scss.css [app-client] (css) */
p, a, h1, h2, h3, h4, h5, h6, label {
  color: #fff !important;
  font-family: SF Pro Display !important;
}

p, a {
  letter-spacing: 1.5px;
  font-weight: 300;
}

h1 {
  font-size: 6rem;
}

@media only screen and (width <= 768px) {
  h1 {
    font-size: 4rem;
  }
}

body {
  background-color: #080808 !important;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Medium.1863c79b.eot");
  src: local(SF Pro Display Medium), local(SFProDisplay-Medium), url("../media/SFProDisplay-Medium.1863c79b.eot") format("embedded-opentype"), url("../media/SFProDisplay-Medium.d8d2cce6.woff2") format("woff2"), url("../media/SFProDisplay-Medium.04b89d67.woff") format("woff"), url("../media/SFProDisplay-Medium.8777e042.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Heavy.4751186a.eot");
  src: local(SF Pro Display Heavy), local(SFProDisplay-Heavy), url("../media/SFProDisplay-Heavy.4751186a.eot") format("embedded-opentype"), url("../media/SFProDisplay-Heavy.aaea95a5.woff2") format("woff2"), url("../media/SFProDisplay-Heavy.d2312256.woff") format("woff"), url("../media/SFProDisplay-Heavy.40970f96.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-UltralightItalic.247c27c6.eot");
  src: local(SF Pro Display UltralightItalic), local(SFProDisplay-UltralightItalic), url("../media/SFProDisplay-UltralightItalic.247c27c6.eot") format("embedded-opentype"), url("../media/SFProDisplay-UltralightItalic.c0cdadf2.woff2") format("woff2"), url("../media/SFProDisplay-UltralightItalic.9a142b5b.woff") format("woff"), url("../media/SFProDisplay-UltralightItalic.282c0d74.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-RegularItalic.9b805ce9.eot");
  src: local(SF Pro Display Regular Italic), local(SFProDisplay-RegularItalic), url("../media/SFProDisplay-RegularItalic.9b805ce9.eot") format("embedded-opentype"), url("../media/SFProDisplay-RegularItalic.74cde761.woff2") format("woff2"), url("../media/SFProDisplay-RegularItalic.2df4fe9e.woff") format("woff"), url("../media/SFProDisplay-RegularItalic.81ca2716.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Thin.d26077f5.eot");
  src: local(SF Pro Display Thin), local(SFProDisplay-Thin), url("../media/SFProDisplay-Thin.d26077f5.eot") format("embedded-opentype"), url("../media/SFProDisplay-Thin.7da406a4.woff2") format("woff2"), url("../media/SFProDisplay-Thin.eef3e313.woff") format("woff"), url("../media/SFProDisplay-Thin.17855ff7.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Light.174613e6.eot");
  src: local(SF Pro Display Light), local(SFProDisplay-Light), url("../media/SFProDisplay-Light.174613e6.eot") format("embedded-opentype"), url("../media/SFProDisplay-Light.4fb8260b.woff2") format("woff2"), url("../media/SFProDisplay-Light.b5727746.woff") format("woff"), url("../media/SFProDisplay-Light.aa471e2f.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-BlackItalic.8939ef24.eot");
  src: local(SF Pro Display Black Italic), local(SFProDisplay-BlackItalic), url("../media/SFProDisplay-BlackItalic.8939ef24.eot") format("embedded-opentype"), url("../media/SFProDisplay-BlackItalic.81cfcbdd.woff2") format("woff2"), url("../media/SFProDisplay-BlackItalic.2615c763.woff") format("woff"), url("../media/SFProDisplay-BlackItalic.7d2916eb.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Bold.52db582d.eot");
  src: local(SF Pro Display Bold), local(SFProDisplay-Bold), url("../media/SFProDisplay-Bold.52db582d.eot") format("embedded-opentype"), url("../media/SFProDisplay-Bold.35408a9d.woff2") format("woff2"), url("../media/SFProDisplay-Bold.684bd85d.woff") format("woff"), url("../media/SFProDisplay-Bold.25ce3341.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Black.42f83141.eot");
  src: local(SF Pro Display Black), local(SFProDisplay-Black), url("../media/SFProDisplay-Black.42f83141.eot") format("embedded-opentype"), url("../media/SFProDisplay-Black.db362952.woff2") format("woff2"), url("../media/SFProDisplay-Black.23b1423b.woff") format("woff"), url("../media/SFProDisplay-Black.939d6c29.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-SemiboldItalic.f793564a.eot");
  src: local(SF Pro Display SemiboldItalic), local(SFProDisplay-SemiboldItalic), url("../media/SFProDisplay-SemiboldItalic.f793564a.eot") format("embedded-opentype"), url("../media/SFProDisplay-SemiboldItalic.504d0629.woff2") format("woff2"), url("../media/SFProDisplay-SemiboldItalic.026da540.woff") format("woff"), url("../media/SFProDisplay-SemiboldItalic.d9e73eb1.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Ultralight.7b01d0a3.eot");
  src: local(SF Pro Display Ultralight), local(SFProDisplay-Ultralight), url("../media/SFProDisplay-Ultralight.7b01d0a3.eot") format("embedded-opentype"), url("../media/SFProDisplay-Ultralight.c70ce26f.woff2") format("woff2"), url("../media/SFProDisplay-Ultralight.a8a5eedc.woff") format("woff"), url("../media/SFProDisplay-Ultralight.64f6a74e.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-LightItalic.84d5f4ff.eot");
  src: local(SF Pro Display LightItalic), local(SFProDisplay-LightItalic), url("../media/SFProDisplay-LightItalic.84d5f4ff.eot") format("embedded-opentype"), url("../media/SFProDisplay-LightItalic.9dca8c76.woff2") format("woff2"), url("../media/SFProDisplay-LightItalic.99f69fc3.woff") format("woff"), url("../media/SFProDisplay-LightItalic.ccc37aa1.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-ThinItalic.6a3b8260.eot");
  src: local(SF Pro Display ThinItalic), local(SFProDisplay-ThinItalic), url("../media/SFProDisplay-ThinItalic.6a3b8260.eot") format("embedded-opentype"), url("../media/SFProDisplay-ThinItalic.dc6f4bed.woff2") format("woff2"), url("../media/SFProDisplay-ThinItalic.1637f07b.woff") format("woff"), url("../media/SFProDisplay-ThinItalic.c250e37b.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-MediumItalic.57c3c39a.eot");
  src: local(SF Pro Display MediumItalic), local(SFProDisplay-MediumItalic), url("../media/SFProDisplay-MediumItalic.57c3c39a.eot") format("embedded-opentype"), url("../media/SFProDisplay-MediumItalic.38def395.woff2") format("woff2"), url("../media/SFProDisplay-MediumItalic.84b979dc.woff") format("woff"), url("../media/SFProDisplay-MediumItalic.bcbd22a9.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Semibold.013c1638.eot");
  src: local(SF Pro Display Semibold), local(SFProDisplay-Semibold), url("../media/SFProDisplay-Semibold.013c1638.eot") format("embedded-opentype"), url("../media/SFProDisplay-Semibold.61183f52.woff2") format("woff2"), url("../media/SFProDisplay-Semibold.5d44fba9.woff") format("woff"), url("../media/SFProDisplay-Semibold.7f690a40.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-HeavyItalic.2c0276a6.eot");
  src: local(SF Pro Display HeavyItalic), local(SFProDisplay-HeavyItalic), url("../media/SFProDisplay-HeavyItalic.2c0276a6.eot") format("embedded-opentype"), url("../media/SFProDisplay-HeavyItalic.0f966457.woff2") format("woff2"), url("../media/SFProDisplay-HeavyItalic.cc64f10f.woff") format("woff"), url("../media/SFProDisplay-HeavyItalic.73dc22a1.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Regular.38cc7fe0.eot");
  src: local(SF Pro Display Regular), local(SFProDisplay-Regular), url("../media/SFProDisplay-Regular.38cc7fe0.eot") format("embedded-opentype"), url("../media/SFProDisplay-Regular.a5f8ec5a.woff2") format("woff2"), url("../media/SFProDisplay-Regular.4df511df.woff") format("woff"), url("../media/SFProDisplay-Regular.328450e9.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-BoldItalic.2fc2cc8d.eot");
  src: local(SF Pro Display BoldItalic), local(SFProDisplay-BoldItalic), url("../media/SFProDisplay-BoldItalic.2fc2cc8d.eot") format("embedded-opentype"), url("../media/SFProDisplay-BoldItalic.2632ff5b.woff2") format("woff2"), url("../media/SFProDisplay-BoldItalic.fbdf71ca.woff") format("woff"), url("../media/SFProDisplay-BoldItalic.75b121be.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}


/* [project]/src/app/Tech/index.scss.css [app-client] (css) */
.tech {
  min-width: 100vw;
  height: 100vh;
}

.tech .row {
  min-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.tech .row .header-col {
  justify-content: center;
  display: flex;
}

.tech .row .header-col .header-box {
  padding-top: 14rem;
}

.tech .row .header-col .header-box .subheading-box {
  flex-direction: row;
  display: flex;
}

.tech .row .header-col .header-box .subheading-box .line {
  border-top: 4px solid #fff;
  align-self: center;
  width: 30px;
  margin-right: 2rem;
}

@media only screen and (width <= 768px) {
  .tech .row .header-col .header-box {
    margin-bottom: 4rem;
    padding: 2rem 2.5rem 0;
  }

  .tech .row .header-col {
    justify-content: start;
  }
}

.tech .row .content-col {
  padding-right: 3rem;
}

.tech .row .content-col .row {
  min-width: 100%;
  height: 100vh;
  padding-bottom: 7rem;
  overflow: auto;
}

.tech .row .content-col .row .right {
  border-right: 2px solid #1e1e1e;
}

.tech .row .content-col .row .left {
  border-left: 2px solid #1e1e1e;
}

.tech .row .content-col .row .left, .tech .row .content-col .row .right {
  min-height: 33.3333vh;
  padding: 0;
  overflow: hidden;
}

.tech .row .content-col .row .left .icon, .tech .row .content-col .row .right .icon {
  align-self: flex-start !important;
}

@media only screen and (width <= 768px) {
  .tech .row .content-col .row .left, .tech .row .content-col .row .right {
    border: none;
  }
}

@media only screen and (width <= 576px) {
  .tech .row .content-col .row .left, .tech .row .content-col .row .right {
    min-height: 25vh;
    margin-bottom: 2rem;
  }
}

.tech .row .content-col .row .text-box {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  display: flex;
}

.tech .row .content-col .row .text-box .subheading {
  margin: 0;
  color: #ffffff80 !important;
}

.tech .row .content-col .row .text-box .code-subheading {
  margin: 0;
  color: #ffffffb3 !important;
}

@media only screen and (width <= 768px) {
  .tech .row .content-col .row .text-box p {
    margin-bottom: 1rem !important;
  }
}

.tech .row .content-col .row .text-box .icon {
  align-self: flex-end;
}

.tech .row .content-col .row .text-box .icon .img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media only screen and (width <= 768px) {
  .tech .row .content-col .row {
    height: fit-content;
    overflow: scroll;
  }
}

.tech .row .content-col .github {
  background: url("../media/cody.ab114951.jpg") 0 0 / cover no-repeat;
}

.tech .row .content-col .apps {
  background: url("../media/apps-1.51d2a750.png") 0 0 / cover no-repeat;
}

.tech .row .content-col .blog {
  background: url("../media/w-2.f307e155.jpg") 0 0 / cover no-repeat;
}

@media only screen and (width <= 576px) {
  .tech .row .content-col .github, .tech .row .content-col .apps, .tech .row .content-col .blog {
    display: none;
  }
}

.tech .row .content-col .overlay {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: .5s ease;
  background-color: #080808b3;
  width: auto;
  height: 100%;
  -moz-transition: all .5s;
  transition: all .5s;
  display: flex;
}

.tech .row .content-col .overlay button {
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 10px;
  align-self: center;
  margin: auto;
  padding: .5rem 1.5rem;
}

.tech .row .content-col .overlay button a {
  color: #fff;
  text-decoration: none;
}

.tech .row .content-col .github:hover .overlay, .tech .row .content-col .apps:hover .overlay, .tech .row .content-col .blog:hover .overlay {
  opacity: 1;
}

@media only screen and (width <= 768px) {
  .tech .row .content-col {
    padding: 0 3rem;
  }
}

.tech:before {
  content: " ";
  pointer-events: none;
  background: linear-gradient(#080808b3, #0000, #0000, #0000, #0000, #0000, #0000, #0000, #0000, #0000), linear-gradient(to top, #080808, #0000, #0000, #0000);
  width: 100%;
  height: 100%;
  position: absolute;
}

@media only screen and (width <= 768px) {
  .tech {
    overflow: hidden scroll;
  }

  .tech:before {
    display: none;
  }
}


/* [project]/src/app/app.scss.css [app-client] (css) */
.appContainer {
  width: 100vw;
  height: 100vh;
}


/*# sourceMappingURL=%5Broot-of-the-server%5D__d2f0dcd3._.css.map*/