/* [next]/internal/font/google/geist_e531dabc.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwYGFWNOITddY4-s.b7d310ad.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_e531dabc-module__QGiZLq__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

.geist_e531dabc-module__QGiZLq__variable {
  --font-geist-sans: "Geist", "Geist Fallback";
}


/* [next]/internal/font/google/geist_mono_68a01160.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrMdmhHkjkotbA-s.cb6bbcb1.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_68a01160-module__YLcDdW__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

.geist_mono_68a01160-module__YLcDdW__variable {
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}


/* [project]/src/components/NavBar/index.scss.css [app-client] (css) */
.nav-wrapper {
  z-index: 100;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  position: absolute;
  bottom: 0;
}

.nav-wrapper nav {
  text-align: center;
  width: fit-content;
}

.nav-wrapper nav a {
  letter-spacing: 0;
  margin: 0 1rem;
  font-weight: 400;
  text-decoration: none;
}

.nav-wrapper nav .active {
  color: #57e5ec !important;
}

.nav-wrapper nav a:hover {
  cursor: pointer;
  color: #fff;
}

.nav-wrapper nav a:hover.active {
  color: #57e5ec !important;
}

.nav-wrapper nav .underline {
  background-color: #57e5ec;
  width: 2.5rem;
  height: 1px;
  margin: .625rem 1rem 0;
  position: relative;
  left: 0;
}

@media only screen and (width <= 768px) {
  .nav-wrapper {
    background-color: #000000e6;
    margin-bottom: 0;
    padding: 1rem 0;
  }
}


/* [project]/src/components/LinksBar/index.scss.css [app-client] (css) */
.links-bar {
  z-index: 100;
  display: flex;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.links-bar a:first-child {
  margin-right: .8rem;
}

.links-bar a:hover {
  transform: scale(1.1);
}

@media only screen and (width <= 768px) {
  .links-bar {
    bottom: 1.8rem;
    left: 2rem;
  }
}

@media only screen and (width <= 415px) {
  .links-bar {
    display: none;
  }
}


/* [project]/src/app/Creative/index.scss.css [app-client] (css) */
.creative {
  min-width: 100vw;
  height: 100vh;
}

.creative .row {
  min-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.creative .row .header-col {
  justify-content: center;
  display: flex;
}

.creative .row .header-col .header-box {
  padding-top: 14rem;
}

.creative .row .header-col .header-box .subheading-box {
  flex-direction: row;
  display: flex;
}

.creative .row .header-col .header-box .subheading-box .line {
  border-top: 4px solid #fff;
  align-self: center;
  width: 30px;
  margin-right: 2rem;
}

@media only screen and (width <= 768px) {
  .creative .row .header-col .header-box {
    margin-bottom: 4rem;
    padding: 2rem 2.5rem 0;
  }

  .creative .row .header-col {
    justify-content: start;
  }
}

.creative .row .col-content {
  padding-right: 3rem;
}

.creative .row .col-content .row {
  min-width: 100%;
}

.creative .row .col-content .row .col-12, .creative .row .col-content .row .col-md-4 {
  flex-direction: column;
  justify-content: center;
  height: 80%;
  display: flex;
}

@media only screen and (width <= 768px) {
  .creative .row .col-content .row .col-12 {
    height: 50%;
    margin-bottom: 5rem;
    padding-bottom: 0;
  }
}

.creative .row .col-content .row .icon {
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 1rem;
  text-decoration: none;
  display: flex;
  color: #ffffff80 !important;
}

.creative .row .col-content .row .icon .img {
  margin: auto .4rem auto 0;
}

.creative .row .col-content .row .icon:hover .img {
  transform: scale(1.1);
}

.creative .row .col-content .row .ig {
  background-color: #0000;
  background-image: linear-gradient(to top, #080808, #08080833), url("../media/ig.04c70d51.jpg");
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 10px;
  align-items: flex-end;
  height: 65%;
  padding: 1rem 1rem 0;
  display: flex;
}

.creative .row .col-content .row .dev-ig {
  background-color: #0000;
  background-image: linear-gradient(to top, #080808, #08080833), url("../media/dev_ig.4a9b39ae.jpg");
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 10px;
  align-items: flex-end;
  height: 65%;
  padding: 1rem 1rem 0;
  display: flex;
}

.creative .row .col-content .row .youtube {
  background-color: #0000;
  background-image: linear-gradient(to top, #080808, #08080833), url("../media/rs_1.902cdc1f.jpg");
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll, scroll;
  background-origin: padding-box, padding-box;
  background-clip: border-box, border-box;
  border-radius: 10px;
  align-items: flex-end;
  height: 65%;
  padding: 1rem 1rem 0;
  display: flex;
}

@media only screen and (width <= 768px) {
  .creative .row .col-content .row .ig, .creative .row .col-content .row .dev-ig, .creative .row .col-content .row .youtube {
    min-height: 100%;
  }

  .creative .row .col-content {
    padding: 0 3rem;
    padding-bottom: 40rem !important;
  }

  .creative {
    overflow: hidden scroll;
  }
}


/* [project]/src/app/Home/index.scss.css [app-client] (css) */
.home {
  min-width: 100vw;
  height: 100vh;
}

.home .row {
  min-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home .row .header-col {
  justify-content: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.home .row .header-col .header-box {
  padding-top: 14rem;
}

.home .row .header-col .header-box .subheading-box {
  flex-direction: row;
  display: flex;
}

.home .row .header-col .header-box .subheading-box .line {
  border-top: 4px solid #fff;
  align-self: center;
  width: 30px;
  margin-right: 2rem;
}

@media only screen and (width <= 768px) {
  .home .row .header-col .header-box {
    margin-bottom: 2rem;
    padding: 2rem 2.5rem 0;
  }

  .home .row .header-col {
    justify-content: start;
  }
}

.home .row .col-content {
  opacity: 0;
  background-image: url("../media/jadon.0ab68d04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.home .row .col-content .overlay {
  background-color: #08080866;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.home .row .col-content .overlay p {
  text-shadow: 1px 1px 2px #08080833, 0 0 25px #08080833, 0 0 5px #08080833;
  font-size: 25px;
}

.home .row .col-content .overlay p:hover {
  cursor: default;
  transform: scale(1.1);
}

@media only screen and (width <= 768px) {
  .home .row .col-content {
    height: 100%;
  }

  .home {
    overflow: hidden scroll;
  }
}


/* [project]/src/app/Tech/index.scss.css [app-client] (css) */
.tech {
  min-width: 100vw;
  height: 100vh;
}

.tech .row {
  min-width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}

.tech .row .header-col {
  justify-content: center;
  display: flex;
}

.tech .row .header-col .header-box {
  padding-top: 14rem;
}

.tech .row .header-col .header-box .subheading-box {
  flex-direction: row;
  display: flex;
}

.tech .row .header-col .header-box .subheading-box .line {
  border-top: 4px solid #fff;
  align-self: center;
  width: 30px;
  margin-right: 2rem;
}

@media only screen and (width <= 768px) {
  .tech .row .header-col .header-box {
    margin-bottom: 4rem;
    padding: 2rem 2.5rem 0;
  }

  .tech .row .header-col {
    justify-content: start;
  }
}

.tech .row .content-col {
  padding-right: 3rem;
}

.tech .row .content-col .row {
  min-width: 100%;
  height: 100vh;
  padding-bottom: 7rem;
  overflow: auto;
}

.tech .row .content-col .row .right {
  border-right: 2px solid #1e1e1e;
}

.tech .row .content-col .row .left {
  border-left: 2px solid #1e1e1e;
}

.tech .row .content-col .row .left, .tech .row .content-col .row .right {
  min-height: 33.3333vh;
  padding: 0;
  overflow: hidden;
}

.tech .row .content-col .row .left .icon, .tech .row .content-col .row .right .icon {
  align-self: flex-start !important;
}

@media only screen and (width <= 768px) {
  .tech .row .content-col .row .left, .tech .row .content-col .row .right {
    border: none;
  }
}

@media only screen and (width <= 576px) {
  .tech .row .content-col .row .left, .tech .row .content-col .row .right {
    min-height: 25vh;
    margin-bottom: 2rem;
  }
}

.tech .row .content-col .row .text-box {
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  display: flex;
}

.tech .row .content-col .row .text-box .subheading {
  margin: 0;
  color: #ffffff80 !important;
}

.tech .row .content-col .row .text-box .code-subheading {
  margin: 0;
  color: #ffffffb3 !important;
}

@media only screen and (width <= 768px) {
  .tech .row .content-col .row .text-box p {
    margin-bottom: 1rem !important;
  }
}

.tech .row .content-col .row .text-box .icon {
  align-self: flex-end;
}

.tech .row .content-col .row .text-box .icon .img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media only screen and (width <= 768px) {
  .tech .row .content-col .row {
    height: fit-content;
    overflow: scroll;
  }
}

.tech .row .content-col .github {
  background: url("../media/cody.ab114951.jpg") 0 0 / cover no-repeat;
}

.tech .row .content-col .apps {
  background: url("../media/apps-1.51d2a750.png") 0 0 / cover no-repeat;
}

.tech .row .content-col .blog {
  background: url("../media/w-2.f307e155.jpg") 0 0 / cover no-repeat;
}

@media only screen and (width <= 576px) {
  .tech .row .content-col .github, .tech .row .content-col .apps, .tech .row .content-col .blog {
    display: none;
  }
}

.tech .row .content-col .overlay {
  opacity: 0;
  -webkit-transition: opacity .5s;
  -o-transition: .5s ease;
  background-color: #080808b3;
  width: auto;
  height: 100%;
  -moz-transition: all .5s;
  transition: all .5s;
  display: flex;
}

.tech .row .content-col .overlay button {
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 10px;
  align-self: center;
  margin: auto;
  padding: .5rem 1.5rem;
}

.tech .row .content-col .overlay button a {
  color: #fff;
  text-decoration: none;
}

.tech .row .content-col .github:hover .overlay, .tech .row .content-col .apps:hover .overlay, .tech .row .content-col .blog:hover .overlay {
  opacity: 1;
}

@media only screen and (width <= 768px) {
  .tech .row .content-col {
    padding: 0 3rem;
  }
}

.tech:before {
  content: " ";
  pointer-events: none;
  background: linear-gradient(#080808b3, #0000, #0000, #0000, #0000, #0000, #0000, #0000, #0000, #0000), linear-gradient(to top, #080808, #0000, #0000, #0000);
  width: 100%;
  height: 100%;
  position: absolute;
}

@media only screen and (width <= 768px) {
  .tech {
    overflow: hidden scroll;
  }

  .tech:before {
    display: none;
  }
}


/* [project]/src/app/app.scss.css [app-client] (css) */
.appContainer {
  width: 100vw;
  height: 100vh;
}


/*# sourceMappingURL=%5Broot-of-the-server%5D__7d8ad080._.css.map*/