/* [project]/src/app/global.scss.css [app-client] (css) */
p, a, h1, h2, h3, h4, h5, h6, label {
  color: #fff !important;
  font-family: SF Pro Display !important;
}

p, a {
  letter-spacing: 1.5px;
  font-weight: 300;
}

h1 {
  font-size: 6rem;
}

@media only screen and (width <= 768px) {
  h1 {
    font-size: 4rem;
  }
}

body {
  background-color: #080808 !important;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Medium.1863c79b.eot");
  src: local(SF Pro Display Medium), local(SFProDisplay-Medium), url("../media/SFProDisplay-Medium.1863c79b.eot") format("embedded-opentype"), url("../media/SFProDisplay-Medium.d8d2cce6.woff2") format("woff2"), url("../media/SFProDisplay-Medium.04b89d67.woff") format("woff"), url("../media/SFProDisplay-Medium.8777e042.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Heavy.4751186a.eot");
  src: local(SF Pro Display Heavy), local(SFProDisplay-Heavy), url("../media/SFProDisplay-Heavy.4751186a.eot") format("embedded-opentype"), url("../media/SFProDisplay-Heavy.aaea95a5.woff2") format("woff2"), url("../media/SFProDisplay-Heavy.d2312256.woff") format("woff"), url("../media/SFProDisplay-Heavy.40970f96.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-UltralightItalic.247c27c6.eot");
  src: local(SF Pro Display UltralightItalic), local(SFProDisplay-UltralightItalic), url("../media/SFProDisplay-UltralightItalic.247c27c6.eot") format("embedded-opentype"), url("../media/SFProDisplay-UltralightItalic.c0cdadf2.woff2") format("woff2"), url("../media/SFProDisplay-UltralightItalic.9a142b5b.woff") format("woff"), url("../media/SFProDisplay-UltralightItalic.282c0d74.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-RegularItalic.9b805ce9.eot");
  src: local(SF Pro Display Regular Italic), local(SFProDisplay-RegularItalic), url("../media/SFProDisplay-RegularItalic.9b805ce9.eot") format("embedded-opentype"), url("../media/SFProDisplay-RegularItalic.74cde761.woff2") format("woff2"), url("../media/SFProDisplay-RegularItalic.2df4fe9e.woff") format("woff"), url("../media/SFProDisplay-RegularItalic.81ca2716.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Thin.d26077f5.eot");
  src: local(SF Pro Display Thin), local(SFProDisplay-Thin), url("../media/SFProDisplay-Thin.d26077f5.eot") format("embedded-opentype"), url("../media/SFProDisplay-Thin.7da406a4.woff2") format("woff2"), url("../media/SFProDisplay-Thin.eef3e313.woff") format("woff"), url("../media/SFProDisplay-Thin.17855ff7.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Light.174613e6.eot");
  src: local(SF Pro Display Light), local(SFProDisplay-Light), url("../media/SFProDisplay-Light.174613e6.eot") format("embedded-opentype"), url("../media/SFProDisplay-Light.4fb8260b.woff2") format("woff2"), url("../media/SFProDisplay-Light.b5727746.woff") format("woff"), url("../media/SFProDisplay-Light.aa471e2f.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-BlackItalic.8939ef24.eot");
  src: local(SF Pro Display Black Italic), local(SFProDisplay-BlackItalic), url("../media/SFProDisplay-BlackItalic.8939ef24.eot") format("embedded-opentype"), url("../media/SFProDisplay-BlackItalic.81cfcbdd.woff2") format("woff2"), url("../media/SFProDisplay-BlackItalic.2615c763.woff") format("woff"), url("../media/SFProDisplay-BlackItalic.7d2916eb.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Bold.52db582d.eot");
  src: local(SF Pro Display Bold), local(SFProDisplay-Bold), url("../media/SFProDisplay-Bold.52db582d.eot") format("embedded-opentype"), url("../media/SFProDisplay-Bold.35408a9d.woff2") format("woff2"), url("../media/SFProDisplay-Bold.684bd85d.woff") format("woff"), url("../media/SFProDisplay-Bold.25ce3341.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Black.42f83141.eot");
  src: local(SF Pro Display Black), local(SFProDisplay-Black), url("../media/SFProDisplay-Black.42f83141.eot") format("embedded-opentype"), url("../media/SFProDisplay-Black.db362952.woff2") format("woff2"), url("../media/SFProDisplay-Black.23b1423b.woff") format("woff"), url("../media/SFProDisplay-Black.939d6c29.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-SemiboldItalic.f793564a.eot");
  src: local(SF Pro Display SemiboldItalic), local(SFProDisplay-SemiboldItalic), url("../media/SFProDisplay-SemiboldItalic.f793564a.eot") format("embedded-opentype"), url("../media/SFProDisplay-SemiboldItalic.504d0629.woff2") format("woff2"), url("../media/SFProDisplay-SemiboldItalic.026da540.woff") format("woff"), url("../media/SFProDisplay-SemiboldItalic.d9e73eb1.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Ultralight.7b01d0a3.eot");
  src: local(SF Pro Display Ultralight), local(SFProDisplay-Ultralight), url("../media/SFProDisplay-Ultralight.7b01d0a3.eot") format("embedded-opentype"), url("../media/SFProDisplay-Ultralight.c70ce26f.woff2") format("woff2"), url("../media/SFProDisplay-Ultralight.a8a5eedc.woff") format("woff"), url("../media/SFProDisplay-Ultralight.64f6a74e.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-LightItalic.84d5f4ff.eot");
  src: local(SF Pro Display LightItalic), local(SFProDisplay-LightItalic), url("../media/SFProDisplay-LightItalic.84d5f4ff.eot") format("embedded-opentype"), url("../media/SFProDisplay-LightItalic.9dca8c76.woff2") format("woff2"), url("../media/SFProDisplay-LightItalic.99f69fc3.woff") format("woff"), url("../media/SFProDisplay-LightItalic.ccc37aa1.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-ThinItalic.6a3b8260.eot");
  src: local(SF Pro Display ThinItalic), local(SFProDisplay-ThinItalic), url("../media/SFProDisplay-ThinItalic.6a3b8260.eot") format("embedded-opentype"), url("../media/SFProDisplay-ThinItalic.dc6f4bed.woff2") format("woff2"), url("../media/SFProDisplay-ThinItalic.1637f07b.woff") format("woff"), url("../media/SFProDisplay-ThinItalic.c250e37b.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-MediumItalic.57c3c39a.eot");
  src: local(SF Pro Display MediumItalic), local(SFProDisplay-MediumItalic), url("../media/SFProDisplay-MediumItalic.57c3c39a.eot") format("embedded-opentype"), url("../media/SFProDisplay-MediumItalic.38def395.woff2") format("woff2"), url("../media/SFProDisplay-MediumItalic.84b979dc.woff") format("woff"), url("../media/SFProDisplay-MediumItalic.bcbd22a9.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Semibold.013c1638.eot");
  src: local(SF Pro Display Semibold), local(SFProDisplay-Semibold), url("../media/SFProDisplay-Semibold.013c1638.eot") format("embedded-opentype"), url("../media/SFProDisplay-Semibold.61183f52.woff2") format("woff2"), url("../media/SFProDisplay-Semibold.5d44fba9.woff") format("woff"), url("../media/SFProDisplay-Semibold.7f690a40.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-HeavyItalic.2c0276a6.eot");
  src: local(SF Pro Display HeavyItalic), local(SFProDisplay-HeavyItalic), url("../media/SFProDisplay-HeavyItalic.2c0276a6.eot") format("embedded-opentype"), url("../media/SFProDisplay-HeavyItalic.0f966457.woff2") format("woff2"), url("../media/SFProDisplay-HeavyItalic.cc64f10f.woff") format("woff"), url("../media/SFProDisplay-HeavyItalic.73dc22a1.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-Regular.38cc7fe0.eot");
  src: local(SF Pro Display Regular), local(SFProDisplay-Regular), url("../media/SFProDisplay-Regular.38cc7fe0.eot") format("embedded-opentype"), url("../media/SFProDisplay-Regular.a5f8ec5a.woff2") format("woff2"), url("../media/SFProDisplay-Regular.4df511df.woff") format("woff"), url("../media/SFProDisplay-Regular.328450e9.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SF Pro Display;
  src: url("../media/SFProDisplay-BoldItalic.2fc2cc8d.eot");
  src: local(SF Pro Display BoldItalic), local(SFProDisplay-BoldItalic), url("../media/SFProDisplay-BoldItalic.2fc2cc8d.eot") format("embedded-opentype"), url("../media/SFProDisplay-BoldItalic.2632ff5b.woff2") format("woff2"), url("../media/SFProDisplay-BoldItalic.fbdf71ca.woff") format("woff"), url("../media/SFProDisplay-BoldItalic.75b121be.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/*# sourceMappingURL=src_app_global_scss_css_f9ee138c._.single.css.map*/